:root{
    --black-text-color: #333;
    --white-text-color: #f1f2f0;
    --primary-color: #6926D7;
}

@font-face {
    font-family: 'Poppins Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Poppins Medium'), url('Poppins-Medium.woff') format('woff');
}

*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins Medium', sans-serif;
    box-sizing: border-box;
}

ul, ol{
    padding-left: 2rem;
li{
    margin-block: 1rem;
}
}

.bold{
    font-weight: bold;
}

header, footer{
    background-color: var(--black-text-color);
    color: var(--white-text-color);
    padding: 1rem 1.2rem;
    font-size: 1rem;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer{
    margin-top: 3rem;
p{text-align: center;}
}

img{
    max-width: 100%;
}

.aboutSection{
    display: flex;
    font-size: 20px;
    width: min(95%, 720px);
    gap: 2rem;
    align-items: flex-start;
    justify-content: center;
    margin: 80px auto;
    padding: 1rem;
    border: 8px solid var(--black-text-color);
    /* background: var(--primary-color); */
    color: var(--black-text-color);
p{
    width: 60%;
}
}

.acknowledgement, .goals{
    width: min(90%, 720px);
    margin-inline: auto;
}

@media screen and (max-width: 720px) {
    :root{
        font-size: 14px;
    }
    .aboutSection{
        flex-wrap: wrap;
        font-size: 1.2rem;
        p{width: 100%;}
    }
}
